spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=FPP;encrypt=false
    username: fpp_user
    password: 8888
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8080

